<h2>Login</h2>

<form (submit)="login($event)">
  <div>
    <label for="username">Username:</label><br />
    <input
      type="text"
      [(ngModel)]="username"
      id="username"
      [ngModelOptions]="{ standalone: true }"
      required
    />
  </div>

  <div>
    <label for="password">Password:</label><br />
    <input
      type="password"
      [(ngModel)]="password"
      id="password"
      [ngModelOptions]="{ standalone: true }"
      required
    />
  </div>

  <div>
    <button type="submit">Accedi</button>
  </div>

  <p>
    Non hai un account?
    <a [routerLink]="['/register']">registrati</a>
  </p>
</form>
