<table *ngIf="carrello.length > 0" class="table table-striped">
  <thead>
    <tr>
      <th>Prodotto</th>
      <th>Prezzo</th>
      <th>Quantità</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of carrello">
      <td>{{ item.nomeProdotto }}</td>
      <td>{{ item.prezzo | currency:'EUR' }}</td>
      <td>{{ item.quantita }}</td>
      <td>
        <button (click)="eliminaProdottoDalCarrello(item.prodottoId)">Elimina</button>
        <button>Modifica</button>
      </td>
    </tr>
  </tbody>
</table>
